# Core Python
python==3.11

# Core ML frameworks
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
tensorflow==2.16.2  # CPU build

# NLP and Transformers
transformers==4.45.2
sentence-transformers==3.1.0
nltk==3.9.1
spacy==3.8.2
faiss-cpu==1.8.0.post1

# Data Science stack
pandas==2.2.3
scikit-learn==1.5.2
matplotlib==3.9.2
numpy==1.26.4

# Utility libraries
tqdm
python-dotenv

# web dev
fastapi==0.117.1
uvicorn==0.36.0
starlette==0.48.0

# --- Config / Pydantic ---
pydantic==2.11.9
pydantic-core==2.33.2
pydantic-settings==2.11.0

openai>=1.52.0
huggingface_hub>=0.26.0